*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 250, 243);
}
.container{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}
fieldset{
    margin: auto;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
.first-form{
    margin-top: 5vh;
    margin-left: 5vh;
    font-size: 3vh;
}
.first-form input{
    height:2.5vh;
    width: 30vh;
    background-color: white;
}
.submit input{
    font-size: 2vh;
    height:3vh;
    width: 15vh;
    padding: 2px;
    background-color: white;
}
.table{
    margin-right: 10vh;
    font-size: 2vh;
}
th , td{
    padding: 2px;
}
legend{
    font-size: 3vh;
    margin-left: 5vh;
}
.submit2{
    text-align: center;
    margin: 5vh 0 3vh 0;
}
.submit2 input{
    background-color: white;
    height: 3vh;
    width: 15vh;
    font-size: 2vh;
}

