<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles4.css">
</head>
<body>
    <fieldset>
        <legend>Update New Product</legend>
        <div class="container">
    <form action="/update_product" method="POST">
        <div class="form">
        <label for="codedata">serial number :</label>
        <input type="text" name="codedata" list="options" id="serial-no" required>
            <datalist id="options">
                <option value="code1">
                <option value="code2">
                <option value="code3">
            </datalist><br>
        
        <label for="amountdata">amount of product :</label>
        <input type="number" name="amountdata"><br>

        <label for="buycost">purchasing cost of product :</label>
        <input type="number" name="buycost" pattern="^\d+(\.\d{1,2})?"><br>
            
        <label for="sellcost">sell cost of product :</label>
        <input type="number" name="sellcost" pattern="^\d+(\.\d{1,2})?"><br>
        
        <label for="product_name">product name :</label>
        <input type="text" name="product_name"><br>

        <label for="product_buy">from where product purchased</label>
        <input type="text" name="product_buy"><br>
        

        <div class="submit" id="sub"><input type="submit" value="Add product"></div>
        </div>
</form>

<div class="table">
    <table border="1">
        <tr>
            <th>From where product Purchased</th>
            <th>Name Of Product</th>
            <th>Purchased</th>
            <th>In Stock</th>
            <th>Selling Price</th>
            <th>Serial Number</th>
        </tr>
        {% for row in result %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
</div>

<form action="/index" method="POST">
    <div class="home"><input type="submit" value="Back"></div>
</form>
</fieldset>
</body>
</html>
